
.right {
	float:right; 
	width:30%;
}

.insertCardBtn {
	text-align: center;
	margin : 10;
	display: none; 
}

.col-8 {
	float:left;
	width : 70%;
	margin: 0 auto;
}

.tab-content {
	align-item : center;
}

.fileUploadBtn {
	
	display: none; 
}

.imgPreview {
	margin-bottom: 20px;
}

.selectMenu {
    width: 130px;
    height: 30px;
    padding-left: 10px;
    font-size: 18px;
    color: #006fff;
    border: 1px solid #006fff;
    border-radius: 3px;
    -webkit-appearance: none; 
   -moz-appearance: none;    
   appearance: none;
   /*background: url('select-arrow.png') no-repeat 95% 50%;  화살표 아이콘 추가 */       
}

.cardInfoMenu {
	margin-bottom: 15px;
} 

