
/* Header */
header{
	height: 10%;
}
.codrops-header .codrops-header_sign{
	position: absolute;
	top: 3.8vw;
	right: 8vw;
}
.codrops-header_sign li{
	float: left;
	margin-left: 20px;
	font-size: 20px;
}

.codrops-header_sign li i{
	font-size: 20px;
	margin-top: 5px;
}
header .fa-bars, .fa-times{
	font-size: 50px;
}
.codrops-header {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding: 2.5vw;
	pointer-events: none;
}

.codrops-header__title {
	font-size: 3.5em;
	margin: 0;
	padding: 0 1em;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	font-size: 0.85em;
	border: 2px solid;
}

.codrops-links::after {
	content: '';
	height: 100%;
	width: 2px;
	background: currentColor;
	position: absolute;
	left: 50%;
	margin-left: -1px;
	top: 0;
}

.codrops-icon {
	pointer-events: visible;
	display: inline-block;
	padding: 0.6em;
}

