<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 내 명함 처리 SQL -->
<mapper namespace="com.cherryproject.www.dao.MyCardInfoMapper">

	<!-- 정현수 : 내 명함 등록 -->
	<insert id="insertMyCard" parameterType="mycard">
		INSERT INTO
		 	tbl_mycardinfo(
		 		mycardnum
		 		, userid
				, company
				, name1
				, name2
				, name3
				, phone
				, tel
				, fax
				, email
				, address
				, job
				, department
				, otherinfo
				, frontimgsaved
				, backimgsaved
				, frontimgoriginal
				, backimgoriginal
		 	)values(
		 		CONCAT('mbc',TO_CHAR(seq_mycardnum.nextval))
		 		,#{userid}
		 		,#{company, jdbcType=VARCHAR}
		 		,#{name1, jdbcType=VARCHAR}
		 		,#{name2, jdbcType=VARCHAR}
		 		,#{name3, jdbcType=VARCHAR}
		 		,#{phone, jdbcType=VARCHAR}
		 		,#{tel, jdbcType=VARCHAR}
		 		,#{fax, jdbcType=VARCHAR}
		 		,#{email, jdbcType=VARCHAR}
		 		,#{address, jdbcType=VARCHAR}
		 		,#{job, jdbcType=VARCHAR}
		 		,#{department, jdbcType=VARCHAR}
		 		,#{otherinfo, jdbcType=LONGVARCHAR}
		 		,#{frontimgsaved}
		 		,#{backimgsaved, jdbcType=VARCHAR}
		 		,#{frontimgoriginal, jdbcType=VARCHAR}
		 		,#{backimgoriginal, jdbcType=VARCHAR}
		 	)
		 		
	</insert>
	
	<!-- 정보승 : 내 명함 전체 조회 -->
	<select id="selectAllMyCard" parameterType="string" resultType="mycard">
	
		SELECT 
			mycardnum
			, userid
			, company
			, name1
			, name2
			, name3
			, phone
			, tel
			, fax
			, email
			, address
			, job
			, department
			, frontimgsaved
			, backimgsaved
			<!--  
			, otherinfo
			-->
			, frontimgsaved
			, backimgsaved
			, cardorder
			, frontimgoriginal
			, backimgoriginal
		<!--
		 	otherinfo
			,frontimgsaved
			-->
		FROM
			tbl_mycardinfo
		WHERE
			userid like #{userid}
		ORDER BY
			mycardnum DESC
	
	</select>


	<!-- 정보승 : 내 명함 1개 조회 -->
	<select id="selectOneMyCard" parameterType="hashmap" resultType="mycard">
	
		SELECT 
			mycardnum
			, company
			, name1
			, name2
			, name3
			, phone
			, tel
			, fax
			, email
			, address
			, job
			, department
			<!--  
			, otherinfo
			-->
			, frontimgsaved
			, backimgsaved
			, cardorder
			, frontimgoriginal
			, backimgoriginal
		FROM
			tbl_mycardinfo
		WHERE
			userid like #{userid}
			
			AND
			
			mycardnum = #{mycardnum}
		
	
	</select>

</mapper>