<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 내 명함 처리 SQL -->
<mapper namespace="com.cherryproject.www.dao.MyCardInfoMapper">

	<!-- 정현수 : 내 명함 등록 -->
	<insert id="insertMyCard" parameterType="mycard">
		INSERT INTO
		 	tbl_mycardinfo(
		 		mycardnum
		 		, userid
				, company
				, name1
				, name2
				, name3
				, phone
				, tel
				, fax
				, email
				, address
				, job
				, department
				, otherinfo
				, otherinfo2
				, frontimgsaved
				, backimgsaved
				, frontimgoriginal
				, backimgoriginal
		 	)values(
		 		CONCAT('mbc',TO_CHAR(LPAD(seq_mycardnum.nextval,27,0)))
		 		,#{userid}
		 		,#{company, jdbcType=VARCHAR}
		 		,#{name1, jdbcType=VARCHAR}
		 		,#{name2, jdbcType=VARCHAR}
		 		,#{name3, jdbcType=VARCHAR}
		 		,#{phone, jdbcType=VARCHAR}
		 		,#{tel, jdbcType=VARCHAR}
		 		,#{fax, jdbcType=VARCHAR}
		 		,#{email, jdbcType=VARCHAR}
		 		,#{address, jdbcType=VARCHAR}
		 		,#{job, jdbcType=VARCHAR}
		 		,#{department, jdbcType=VARCHAR}
		 		,#{otherinfo, jdbcType=LONGVARCHAR}
		 		,#{otherinfo2, jdbcType=VARCHAR}
		 		,#{frontimgsaved}
		 		,#{backimgsaved, jdbcType=VARCHAR}
		 		,#{frontimgoriginal, jdbcType=VARCHAR}
		 		,#{backimgoriginal, jdbcType=VARCHAR}
		 	)
		 		
	</insert>
	
	
	<!-- 정보승 : 내 명함 정보 추가 등록 -->
	<update id="updateAddMyCard" parameterType="mycard">
		UPDATE 
		 	tbl_mycardinfo
		SET 	
	 		company = #{company, jdbcType=VARCHAR}
	 		, name1 = #{name1, jdbcType=VARCHAR}
	 		, name2 = #{name2, jdbcType=VARCHAR}
	 		, name3 = #{name3, jdbcType=VARCHAR}
	 		, phone = #{phone, jdbcType=VARCHAR}
	 		, tel 	= #{tel, jdbcType=VARCHAR}
	 		, fax 	= #{fax, jdbcType=VARCHAR}
	 		, email = #{email, jdbcType=VARCHAR}
	 		, address = #{address, jdbcType=VARCHAR}
	 		, job 	= #{job, jdbcType=VARCHAR}
	 		, department = #{department, jdbcType=VARCHAR}
	 		, otherinfo2 = #{otherinfo2, jdbcType=VARCHAR}
		 WHERE
		 	userid like #{userid}
		 	AND
		 	mycardnum like #{mycardnum}
	</update>
	
	<!-- 정보승 : 내 명함 전체 조회 -->
	<select id="selectAllMyCard" parameterType="string" resultType="mycard">
	
		SELECT 
			mycardnum
			, userid
			, company
			, name1
			, name2
			, name3
			, phone
			, tel
			, fax
			, email
			, address
			, job
			, department
			, otherinfo2
			, frontimgsaved
			, backimgsaved
			, frontimgsaved
			, backimgsaved
			, cardorder
			, frontimgoriginal
			, backimgoriginal
		FROM
			tbl_mycardinfo
		WHERE
			userid like #{userid}
		ORDER BY
			mycardnum DESC
	
	</select>


	<!-- 정보승 : 내 명함 1개 조회 -->
	<select id="selectOneMyCard" parameterType="hashmap" resultType="mycard">
	
		SELECT 
			mycardnum
			, company
			, name1
			, name2
			, name3
			, phone
			, tel
			, fax
			, email
			, address
			, job
			, department
			, otherinfo2
			, frontimgsaved
			, backimgsaved
			, cardorder
			, frontimgoriginal
			, backimgoriginal
		FROM
			tbl_mycardinfo
		WHERE
			userid like #{userid}
			
			AND
			
			mycardnum = #{mycardnum}
	
	</select>
	
	
	<!-- 정보승 : 내 명함 삭제 -->
	<delete id="deleteMyCard" parameterType="string">
	
		DELETE FROM
			tbl_mycardinfo
			
		WHERE
			userid like #{userid}
			
			AND
			
			mycardnum like #{mycardnum}
	
	</delete>

</mapper>