<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 

<!-- 회원정보 처리 SQL -->

<mapper namespace="com.cherryproject.www.dao.UserInfoMapper">

 

	<!-- 회원 가입 처리 : 정보승 -->

	<insert id="joinUser" parameterType="userinfo">

	

		INSERT INTO

			tbl_userinfo (	

				userid

				, userpw

				, username

			)

		VALUES (

			#{userid}

			, #{userpw}

			, #{username}

		)

	

	</insert>

	

	<!-- E-mail 인증 처리 : 정보승 -->

	<update id="verifyUser" parameterType="string">

	

		UPDATE 

			tbl_userinfo

		SET 

			emailverify = 'Y' 

		WHERE 

			userid = #{userid}

	

	</update>

	

	

	<!-- 회원 로그인 + 회원 정보 조회 : 정보승 -->

	<select id="selectUser" parameterType="hashmap" resultType="userinfo">

	

		SELECT

			userid

			, username

			, emailverify

			<if test="userpw != null and userpw != '' ">

				, userpw		

			</if>

			

		FROM

			tbl_userinfo

		WHERE

				userid = #{userid}	

			

			<if test="userpw != null and userpw != '' ">

				AND

					userpw = #{userpw}	

			</if>

	

	

	</select>

	

	

	<!-- 여지원 Profile의 String값 가져오기 -->

	<select id="getProfile" parameterType="string" resultType="string">

	

		SELECT

			profilecard 

		FROM

			tbl_userinfo

		WHERE

			userid = #{userid}	

	</select>

 

	

	<!-- 회원 정보 수정 : 정보승 --> <!-- 대표 프로필 사진을 카드넘버로 넣기 _ profilecard 추가 : 여지원-->

	<update id="updateUserInfo" parameterType="userinfo">

	

		UPDATE

			tbl_userinfo

		SET

			username = #{username}

			<if test="userpw!= null and userpw!= '' ">

				, userpw = #{userpw}

			</if>

			<if test="profilecard!= null and profilecard!='' " >

				, profilecard = #{profilecard}

			</if>

		WHERE

			userid = #{userid}

	

	</update>

	

 

 

</mapper>