<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 받은 명함 관리 처리 SQL -->
<mapper namespace="com.cherryproject.www.dao.YourCardInfoMapper">

	<!-- 정보승 : 받은 명함 전체 가져오기 -->
	<select id="selectAllCard" parameterType="string" resultType="yourcard">
	
		SELECT 
			yourcardnum
			, userid
			, yournum
			, mycardnum
			, memo
			, company
			, name1
			, name2
			, name3
			, phone
			, tel
			, fax
			, email
			, address
			, job
			, department
			, otherinfo
			, frontimgsaved
			, backimgsaved
			, cardorder
			, sex
			, frontimgoriginal
			, backimgoriginal
		FROM
			tbl_yourcardinfo
		WHERE
			userid like #{userid}
		ORDER BY
			yourcardnum
	
	</select>
	
	
	<!-- 정보승 : 받은 명함 등록 -->
	<insert id="yourCardInsert" parameterType="yourcard">
	
		INSERT INTO
			tbl_yourcardinfo (
				yourcardnum
				, userid
				, yournum
				, mycardnum
				, memo
				, company
				, name1
				, name2
				, name3
				, phone
				, tel
				, fax
				, email
				, address
				, job
				, department
				, otherinfo
				, frontimgsaved
				, backimgsaved
				, cardorder
				, frontimgoriginal
				, backimgoriginal
			)
		VALUES (
				CONCAT('ybc', TO_CHAR(seq_yourcardnum.nextval))
				, #{userid}
				, CONCAT('yn', TO_CHAR(seq_yournum.nextval))
				, #{mycardnum}
				, #{memo, jdbcType=VARCHAR}
				, #{company, jdbcType=VARCHAR}
				, #{name1, jdbcType=VARCHAR}
				, #{name2, jdbcType=VARCHAR}
				, #{name3, jdbcType=VARCHAR}
				, #{phone, jdbcType=VARCHAR}
				, #{tel, jdbcType=VARCHAR}
				, #{fax, jdbcType=VARCHAR}
				, #{email, jdbcType=VARCHAR}
				, #{address, jdbcType=VARCHAR}
				, #{job, jdbcType=VARCHAR}
				, #{department, jdbcType=VARCHAR}
				, #{otherinfo, jdbcType=VARCHAR}
				, #{frontimgsaved}
				, #{backimgsaved, jdbcType=VARCHAR}
				, #{cardorder, jdbcType=VARCHAR}
				, #{frontimgoriginal, jdbcType=VARCHAR}
				, #{backimgoriginal, jdbcType=VARCHAR}
		)
	
	</insert>
	
	
	<!-- 정보승 : 하나의 명함 정보 선택 -->
	<select id="selectYourCardOne" parameterType="hashmap" resultType="yourcard">
		
		SELECT 
			*
		FROM
			tbl_yourcardinfo
		WHERE
			yourcardnum like #{yourcardnum}
		AND
			userid like #{userid}
	
	</select>
	
	
	<!-- 전병익 : 검색된 테이블 목록을 가져옴-->
	<select id="selectSearchCard" parameterType="hashmap" resultType="yourcard">
		
		SELECT 
			yourcardnum
			, userid
			, yournum
			, mycardnum
			, memo
			, company
			, name1
			, name2
			, name3
			, phone
			, tel
			, fax
			, email
			, address
			, job
			, department
			, otherinfo
			, frontimgsaved
			, backimgsaved
			, cardorder
			, sex
			, frontimgoriginal
			, backimgoriginal
		FROM
			tbl_yourcardinfo
					
		WHERE
			(userid like #{userid} and phone like #{search}) 
			or
			(userid like #{userid} and name1 like #{search}) 
			or
			(userid like #{userid} and company like #{search})
		ORDER BY
			yourcardnum
	
	</select>
	
	<!-- 정보승 : 명함 삭제(1개) -->
	<delete id="deleteYourCardOne" parameterType="hashmap">
		
		DELETE FROM
			tbl_yourcardinfo
		WHERE
			userid like #{userid}
		AND
			yourcardnum like #{yourcardnum}
	
	</delete>

</mapper>
