<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 받은 명함 관리 처리 SQL -->
<mapper namespace="com.cherryproject.www.dao.YourCardInfoMapper">

	<!-- 정보승 : 받은 명함 전체 가져오기 -->
	<select id="selectAllCard" parameterType="string" resultType="yourcard">
	
		SELECT 
			yourcardnum
			, userid
			, yournum
			, mycardnum
			, name1
			, name2
			, name3
			, company
			, phone
			, tel
			, fax
			, email
			, address
			, job
			, department
			, memo
			, otherinfo
			, frontimgsaved
			, backimgsaved
			, cardorder
			, sex
			, frontimgoriginal
			, backimgoriginal
		FROM
			tbl_yourcardinfo
		WHERE
			userid like #{userid}
		ORDER BY
			yourcardnum DESC
	
	</select>
	
	
	
	<!-- 정보승 : (모바일용) 받은 명함 전체 가져오기 -->
	<select id="mSelectAllCard" parameterType="string" resultType="yourcard">
	
		SELECT 
			yourcardnum
			, company
			, name1
			, phone
			, job
			, department
			, sex
		FROM
			tbl_yourcardinfo
		WHERE
			userid like #{userid}
		ORDER BY
			yourcardnum DESC
	
	</select>
	
	
	
	<!-- 정보승 : 최근 받은 명함 5개 가져오기 -->
	<select id="recent5YourCard" parameterType="string" resultType="yourcard">
	
		SELECT 
			yourcardnum
			, userid
			, yournum
			, mycardnum
			, name1
			, name2
			, name3
			, company
			, phone
			, tel
			, fax
			, email
			, address
			, job
			, department
			, memo
			, otherinfo
			, frontimgsaved
			, backimgsaved
			, cardorder
			, sex
			, frontimgoriginal
			, backimgoriginal
		FROM
			tbl_yourcardinfo
		WHERE
			userid like #{userid}
		ORDER BY
			yourcardnum DESC
	
	</select>
	
	
	
	<!-- 정보승 : 받은 명함 등록 갯수 조회 -->
	<select id="cntYourCard" parameterType="string" resultType="_int">
	
		SELECT
			COUNT(yourcardnum)
		FROM
			tbl_yourcardinfo
		WHERE
			userid like #{userid}
	
	</select>
	
	
	<!-- 정보승 : 받은 명함 등록 -->
	<insert id="yourCardInsert" parameterType="yourcard">
	
		INSERT INTO
			tbl_yourcardinfo (
				yourcardnum 
				, userid
				, yournum
				, mycardnum
				, memo
				, company
				, name1
				, name2
				, name3
				, phone
				, tel
				, fax
				, email
				, address
				, job
				, department
				, otherinfo
				, frontimgsaved
				, backimgsaved
				, cardorder
				, sex
				, frontimgoriginal
				, backimgoriginal
			)
		VALUES (
				CONCAT('ybc', TO_CHAR(LPAD(seq_yourcardnum.NEXTVAL,27,0)))
				, #{userid}
				, CONCAT('yn', TO_CHAR(seq_yournum.nextval))
				, #{mycardnum}
				, #{memo, jdbcType=VARCHAR}
				, #{company, jdbcType=VARCHAR}
				, #{name1, jdbcType=VARCHAR}
				, #{name2, jdbcType=VARCHAR}
				, #{name3, jdbcType=VARCHAR}
				, #{phone, jdbcType=VARCHAR}
				, #{tel, jdbcType=VARCHAR}
				, #{fax, jdbcType=VARCHAR}
				, #{email, jdbcType=VARCHAR}
				, #{address, jdbcType=VARCHAR}
				, #{job, jdbcType=VARCHAR}
				, #{department, jdbcType=VARCHAR}
				, #{otherinfo, jdbcType=VARCHAR}
				, #{frontimgsaved}
				, #{backimgsaved, jdbcType=VARCHAR}
				, #{cardorder, jdbcType=VARCHAR}
				, #{sex}
				, #{frontimgoriginal, jdbcType=VARCHAR}
				, #{backimgoriginal, jdbcType=VARCHAR}
		)
	
	</insert>
	
	
	<!-- 정보승 : 하나의 명함 정보 선택 -->
	<select id="selectYourCardOne" parameterType="hashmap" resultType="yourcard">
		
		SELECT 
			yourcardnum
			, userid
			, yournum
			, mycardnum
			, memo
			, company
			, name1
			, name2
			, name3
			, phone
			, tel
			, fax
			, email
			, address
			, job
			, department
			, otherinfo
			, frontimgsaved
			, backimgsaved
			, cardorder
			, sex
			, frontimgoriginal
			, backimgoriginal
		FROM
			tbl_yourcardinfo
		WHERE
			yourcardnum like #{yourcardnum}
		AND
			userid like #{userid}
	
	</select>
	
	
	<!-- 전병익 : 검색된 테이블 목록을 가져옴-->
	<select id="selectSearchCard" parameterType="hashmap" resultType="yourcard">
		
		SELECT 
			yourcardnum
			, userid
			, yournum
			, mycardnum
			, memo
			, company
			, name1
			, name2
			, name3
			, phone
			, tel
			, fax
			, email
			, address
			, job
			, department
			, otherinfo
			, frontimgsaved
			, backimgsaved
			, cardorder
			, sex
			, frontimgoriginal
			, backimgoriginal
		FROM
			tbl_yourcardinfo
					
		WHERE
			(userid like #{userid} and phone like '%' || #{search} || '%') 
			or
			(userid like #{userid} and name1 like '%' || #{search} || '%') 
			or
			(userid like #{userid} and company like '%' || #{search} || '%')
			or
			(userid like #{userid} and email like '%' || #{search} || '%')
		ORDER BY
			yourcardnum DESC
	
	</select>
	
	<!-- 정보승 : 명함 삭제(1개) -->
	<delete id="deleteYourCardOne" parameterType="hashmap">
		
		DELETE FROM
			tbl_yourcardinfo
		WHERE
			userid like #{userid}
		AND
			yourcardnum like #{yourcardnum}
	
	</delete>
	
	<!-- 정보승 : 명함 수정(1개) -->
	<update id="updaetYourCardOne" parameterType="yourcard">
		
		UPDATE 
			tbl_yourcardinfo
		SET
																name1 = #{name1}				
		<if test="name2 != null and name2 != '' ">				, name2 = #{name2}				</if>
		<if test="name3 != null and name3 != '' ">				, name3 = #{name3}				</if>
																, phone = #{phone}				
		<if test="tel != null and tel != '' ">					, tel = #{tel}					</if>
		<if test="fax != null and fax != '' ">					, fax = #{fax}					</if>
		<if test="email != null and email != '' ">				, email = #{email}				</if>
		<if test="address != null and address != '' ">			, address = #{address}			</if>
		<if test="job != null and job != '' ">					, job = #{job}					</if>
		<if test="department != null and department != '' ">	, department = #{department}	</if>
		<if test="otherinfo != null and otherinfo != '' ">		, otherinfo = #{otherinfo}		</if>
		<if test="memo != null and memo != '' ">				, memo = #{memo}				</if>
																, company = #{company}			
		<if test="company != null and company != '' ">			, sex = #{sex}					</if>
		WHERE
			userid like #{userid}
		AND
			yourcardnum like #{yourcardnum}
	
	</update>

</mapper>
